
.page .user-form {

  ul ~ .content-block {
    padding: 0 3em;

    a {
      line-height: 2em;
      border: none;
      background: #000;
      color: #000;
      text-indent: -9000px;
      position: relative;
      height: 4em;
      line-height: 4em;
      text-transform: uppercase;

      &:after {
        position: absolute;
        content: "Apasa";
        font-family: 'Caveat';
        font-weight: bold;
        font-size: 2em;
        letter-spacing: 5px;
        color: #fff;
        top: 0;
        left: 0;
        text-indent: 0;
        width: 100%;
        height: 100%;
      }
    }


  }

  .content-title,
  .item-title {
    width: 100%;
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    padding: 2em 0 ;
  }

  li[data-field-name="avatar"] {

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0;
      margin: 0;
    }

    li[data-value] {
      width: 50vw;
      height: 50vw;
    }

    label {
      padding: 0;
      width: 100%;
      height: 100%;
      text-indent: -90000px;
    }

    .item-inner {
      width: 100%;
      height: 100%;
      padding: 0;
      background-position: center center;
      background-size: 70%;
      background-repeat: no-repeat;
      transition: 0.3s;
      transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);

      &:after {
        display: none;

      }
    }

    li[data-value="bear"] .item-inner {
      background-image: url('../images/avatar-bear.png');
    }

    li[data-value="owl"] .item-inner {
      background-image: url('../images/avatar-owl.png');
    }

    li[data-value="robot"] .item-inner {
      background-image: url('../images/avatar-robot.png');
    }

    li[data-value="smile"] .item-inner {
      background-image: url('../images/avatar-smile.png');
    }

    input:checked ~ .item-inner {
      background-size: 100%;
      background-color: rgba(150, 150, 150, 0.1);
      background-position: center center;
    }

  }

}
